<!doctype html>
<html ng-app>
  <head>
    <script src="bower_components/angular/angular.min.js"></script>
  </head>
  <body>
    <div>
      <label>Name:</label>
      <input type="text" ng-model="yourName" placeholder="Enter a name here">
      <hr>
      <h1>Hello {{yourName}}!</h1>
    </div>
    
    <script type="text/javascript" src="app.js"></script>
  </body>
</html>