<div class="container-fluid">
    <div class="row">
        <span ng-include="menuTemplate"></span>
        <div class="col col-md-9 fullHeight body" data-ng-init="find()">
            
            <div class="col col-md-6 fullHeight">
                <div class="inner-container pick-note sopraan">
                    <h1>Sopraan</h1>
                    <div class="score-field">
                        <div class="explanation">Hover over de noot om ze op een notenbalk te zien.</div>
                        <canvas id="exampleNoteSoprano"></canvas>
                    </div>
                    <ul>
                        <li data-ng-repeat="note in notes" ng-if="!note.treble" ng-class="(!note.treble && checkNote(note)) ? 'learned' : '' " ng-mouseover="showNote(note, '#exampleNoteSoprano')" ng-mouseleave="clearField('exampleNoteSoprano')"><a data-ng-href="#!/learn-note/{{note._id}}" data-ng-bind="note.name">{{ note.name }}</a></li>
                    </ul>
                </div>
            </div>
            <div class="col col-md-6 fullHeight">
                <div class="inner-container pick-note alt">
                    <h1>Alt</h1>
                    <div class="score-field">
                        <div class="explanation">Hover over de noot om ze op een notenbalk te zien.</div>
                        <canvas id="exampleNoteAlt"></canvas>
                    </div>
                    <ul>
                        <li data-ng-repeat="note in notes" ng-if="note.treble" ng-class="(note.treble && checkNote(note)) ? 'learned' : '' " ng-mouseover="showNote(note, '#exampleNoteAlt')" ng-mouseleave="clearField('exampleNoteAlt')"><a data-ng-href="#!/learn-note/{{note._id}}" data-ng-bind="note.name">{{ note.name }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>