* {
  box-sizing: border-box; }

html, body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background-color: #cdcdcd;
  color: #565d67;
  height: 100%;
  margin: 0;
  padding: 0; }

.login-col {
  background-color: #565d67;
  color: #cdcdcd;
  height: 100%; }

.container.register input {
  border-radius: 0;
  margin: 7px 0; }

.container.register button {
  border-radius: 0;
  background-color: #565d67;
  border: 1px solid #565d67;
  -webkit-transition: 1s;
  /* Safari */
  transition: 1s; }
  .container.register button:hover {
    background-color: #cdcdcd;
    color: #565d67; }

.container.login {
  width: 100%;
  padding: 0; }
  .container.login form {
    height: 25%;
    margin-top: 65%; }
  .container.login input {
    border-radius: 0;
    margin: 5px 0; }
  .container.login button {
    float: left;
    border: none;
    border-radius: 0;
    background-color: #4bb15a;
    color: #565d67;
    text-align: center;
    -webkit-transition: background-color 1s;
    /* Safari */
    transition: background-color 1s; }
    .container.login button:hover {
      background-color: #4bb15a; }
  .container.login a {
    color: #cdcdcd; }

section, .container-fluid, .row, .right-menu, .right-menu .col, .container {
  height: 100%; }

.left-menu {
  background-color: #565d67;
  color: #f0f0f0;
  height: 100%;
  padding: 50px 30px; }
  .left-menu .menu-heading {
    text-align: center; }
    .left-menu .menu-heading img {
      border-radius: 150px;
      -webkit-border-radius: 150px;
      -moz-border-radius: 150px;
      width: 110px; }
    .left-menu .menu-heading a.button {
      border: 1px solid #f0f0f0;
      background-color: #565d67;
      font-size: 20px;
      color: #f0f0f0;
      padding: 3px 15px; }
      .left-menu .menu-heading a.button:hover {
        text-decoration: none; }
  .left-menu .menu-gamification {
    padding-top: 30px; }
    .left-menu .menu-gamification h2 {
      font-size: 22px; }
    .left-menu .menu-gamification h3 {
      font-size: 17px; }
    .left-menu .menu-gamification .right {
      float: right; }
    .left-menu .menu-gamification .level-bar {
      height: 15px;
      background-color: #f0f0f0; }
      .left-menu .menu-gamification .level-bar div {
        height: 100%;
        background-color: #bcbc25; }
    .left-menu .menu-gamification div.left, .left-menu .menu-gamification div.right {
      width: 50%;
      float: left; }
      .left-menu .menu-gamification div.left p, .left-menu .menu-gamification div.right p {
        margin-left: 25%; }
  .left-menu .menu-footer {
    position: absolute;
    bottom: 15px;
    text-align: center;
    width: 100%;
    left: 0; }
    .left-menu .menu-footer a {
      color: white; }
    .left-menu .menu-footer i {
      font-size: 20px;
      margin-right: 15px; }

.right-menu {
  padding: 20px 20px 0 20px; }
  .right-menu .row {
    height: 33%;
    margin: 0; }
  .right-menu .menu-item {
    height: 90%;
    border: 1px solid #565d67;
    text-align: center;
    padding: 35px;
    text-decoration: none;
    display: block;
    background-color: #ecedee;
    -webkit-transition: background-color 0.7s;
    /* For Safari 3.1 to 6.0 */
    transition: background-color 0.7s; }
    .right-menu .menu-item:hover {
      cursor: pointer;
      background-color: #f6f6f6; }
    .right-menu .menu-item h3 {
      padding-top: 20px;
      margin: 0;
      color: #565d67;
      text-decoration: none; }

.exampleNoteDiv {
  overflow: hidden; }

img.example {
  height: 175px;
  padding-left: 65px;
  margin-top: 20px; }

#countDown {
  display: none;
  background-color: rgba(75, 177, 90, 0.5);
  position: absolute;
  top: 90px;
  left: 35px;
  width: 370px;
  height: 150px;
  text-align: center;
  padding: 0; }
  #countDown h2 {
    margin-top: 10px;
    font-size: 130px; }

.your-note div.panel.panel-default {
  width: 0;
  height: 0; }

.fullHeight {
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px; }
  .fullHeight.col-md-6:first-of-type {
    padding-left: 20px;
    padding-right: 10px; }
  .fullHeight.col-md-6:last-of-type {
    padding-left: 10px;
    padding-right: 20px; }

.inner-container {
  background-color: #f0f0f0;
  height: 100%;
  width: 100%;
  padding: 20px; }

.inner-container h2 {
  margin: 0; }

.body {
  padding: 0; }

table {
  width: 100%; }
  table th {
    font-size: 14px;
    padding-bottom: 10px; }
    table th.checks {
      text-align: center; }
  table td {
    font-size: 15px;
    padding: 4px 0; }
    table td.checks {
      text-align: center; }
  table tr {
    border-top: 1px solid #cdcdcd; }
    table tr:nth-of-type(1), table tr:nth-of-type(2) {
      border-top: none; }
    table tr.rank1 {
      color: #4bb15a; }
    table tr.rank2 {
      color: #37b59e; }
    table tr.rank3 {
      color: #cdcdcd; }
    table tr.rank4 {
      color: #bcbc25; }
    table tr:first-of-type:hover {
      cursor: default; }
    table tr:hover {
      cursor: pointer; }

.pick-note .score-field {
  margin: 0 30% 0 20%;
  overflow: hidden; }
  .pick-note .score-field .explanation {
    position: absolute;
    width: 150px;
    margin-top: 7%; }

.pick-note ul {
  padding: 0; }
  .pick-note ul li {
    float: left;
    text-align: center;
    list-style: none; }
    .pick-note ul li a {
      background-color: #cdcdcd;
      color: #565d67;
      text-decoration: none;
      padding: 5px 7px;
      margin: 5px; }
    .pick-note ul li.learned a {
      background-color: #4bb15a;
      color: #f0f0f0; }

.tips {
  margin-top: 20px; }

#exampleNote, #exerciseNote {
  padding-top: 20px; }

#exerciseNote {
  margin-left: 25%;
  margin-top: 30px; }

h1 {
  margin-top: 0; }

.study-unselected,
.feedbackRecording-unselected {
  text-align: center; }
  .study-unselected h4,
  .feedbackRecording-unselected h4 {
    font-weight: 300;
    line-height: 25px;
    margin-top: 40%; }

.study-selected .study-header, .study-selected .feedback-header, .feedbackRecording-selected .study-header, .feedbackRecording-selected .feedback-header {
  margin: -20px -20px 20px;
  background-color: #565d67;
  padding: 20px 20px 7px 20px;
  color: #f0f0f0; }
  .study-selected .study-header h3, .study-selected .feedback-header h3, .feedbackRecording-selected .study-header h3, .feedbackRecording-selected .feedback-header h3 {
    margin-top: 0;
    margin-bottom: 17px; }

.study-selected a.button, .feedbackRecording-selected a.button {
  display: block;
  text-align: center;
  width: 30%;
  margin-left: 35%;
  margin-top: 40px;
  border: 1px solid #f0f0f0;
  background-color: #3875ba;
  font-size: 20px;
  color: #f0f0f0;
  padding: 3px 15px; }
  .study-selected a.button:hover, .feedbackRecording-selected a.button:hover {
    text-decoration: none; }

.container-body.feedback {
  height: 80%; }
  .container-body.feedback div.comments {
    height: 60%;
    overflow-y: scroll; }
    .container-body.feedback div.comments.long {
      height: 85%; }
    .container-body.feedback div.comments .right {
      float: right; }
    .container-body.feedback div.comments h3 {
      background-color: #cdcdcd;
      font-size: 17px;
      font-weight: 500;
      padding: 7px 10px;
      margin: 0; }
      .container-body.feedback div.comments h3.approved {
        background-color: #4bb15a;
        color: #f0f0f0; }
    .container-body.feedback div.comments .comment {
      margin-bottom: 50px; }
    .container-body.feedback div.comments .comment > p {
      margin: 7px 10px; }
    .container-body.feedback div.comments div.like-bar a.approve {
      float: left;
      color: #4bb15a; }
    .container-body.feedback div.comments div.like-bar p, .container-body.feedback div.comments div.like-bar a {
      float: right;
      display: block;
      margin-right: 15px;
      color: #565d67; }
    .container-body.feedback div.comments div.like-bar p {
      margin-right: 0; }
    .container-body.feedback div.comments div.like-bar a {
      margin-left: 5px;
      cursor: pointer; }
    .container-body.feedback div.comments div.like-bar a.noCursor {
      cursor: default; }
      .container-body.feedback div.comments div.like-bar a.noCursor:hover {
        text-decoration: none; }
  .container-body.feedback .feedback-form,
  .container-body.feedback .message {
    height: 40%;
    border-top: 1px solid #cdcdcd;
    margin-top: 20px; }
    .container-body.feedback .feedback-form textarea,
    .container-body.feedback .message textarea {
      margin-top: 30px;
      height: 60%; }
  .container-body.feedback .message {
    padding: 20px;
    text-align: center; }

.inner-container h1 {
  font-size: 20px;
  margin: -20px;
  margin-bottom: 20px;
  padding: 20px;
  color: #f0f0f0;
  background-color: #565d67; }

button {
  font-size: 17px;
  padding: 7px 20px;
  margin-top: 5px;
  float: right;
  border: none;
  border-radius: 0;
  background-color: #4bb15a;
  color: #f0f0f0;
  text-align: center;
  -webkit-transition: background-color 1s;
  /* Safari */
  transition: background-color 1s;
  -webkit-transition: color 0.5s;
  /* Safari */
  transition: color 0.5s; }
  button:hover {
    background-color: #cdcdcd;
    color: #565d67; }
  button.placeInFeedback {
    float: none;
    margin-left: 20%; }
  button:disabled {
    background-color: #cdcdcd;
    color: #565d67; }

.container-body.recording {
  height: 80%; }
  .container-body.recording div.description {
    height: 40%;
    overflow-y: scroll; }
  .container-body.recording div.comments {
    height: 60%; }
    .container-body.recording div.comments .comments-scroll {
      height: 100%;
      overflow-y: scroll; }

div.score {
  height: 90%;
  overflow-y: scroll;
  position: relative; }
  div.score #score {
    width: 95%; }

.tools div {
  float: left;
  margin-right: 20px;
  padding: 7px; }

.tools .instrument li {
  background-color: #cdcdcd; }
  .tools .instrument li:hover {
    cursor: pointer; }

.tools .instrument li.active {
  background-color: #4bb15a; }

.usersOnline {
  height: 50%;
  border-bottom: 1px solid #cdcdcd;
  overflow-y: scroll; }

.ngdialog.ngdialog-theme-default .ngdialog-content {
  width: 80%; }
  .ngdialog.ngdialog-theme-default .ngdialog-content #indgoingVid {
    width: 100%; }
    .ngdialog.ngdialog-theme-default .ngdialog-content #indgoingVid video {
      width: 100%; }
  .ngdialog.ngdialog-theme-default .ngdialog-content #outgoingVid {
    width: 300px; }
    .ngdialog.ngdialog-theme-default .ngdialog-content #outgoingVid video {
      width: 100%; }
