<div class="container-fluid">
    <div class="row">
        <span ng-include="menuTemplate"></span>
        
        <div class="col col-md-9">
            <div class="row">
                <section data-ng-init="findOne()">
                    <h1>Profiel wijzigen {{user.username}}</h1>
                    <form data-ng-submit="update()">
                        <div>
                            <label for="given_name" class="sr-only">Voornaam</label>
                            <div>
                                <input type="text" data-ng-model="user.profile.given_name" id="given_name" placeholder="Voornaam" required autofocus class="form-control">
                            </div>
                        </div>
                        <div>
                            <label for="family_name" class="sr-only">Familienaam</label>
                            <div>
                                <input type="text" data-ng-model="user.profile.family_name" id="family_name" placeholder="Achternaam" required class="form-control">
                            </div>
                        </div>
                        <div>
                            <label for="birthday" class="sr-only">Geboortedatum</label>
                            <div>
                                <input type="text" data-ng-model="user.profile.birthday" id="birthday" placeholder="Geboortedatum" class="form-control">
                            </div>
                        </div>
                        <div>
                            <label for="description" class="sr-only">Beschrijving</label>
                            <div>
                                <textarea type="text" data-ng-model="user.profile.description" id="description" placeholder="Beschrijving" class="form-control"></textarea>
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-lg btn-primary btn-block">Wijzigen</button>
                        </div>
                        <div data-ng-show="error">
                            <strong data-ng-bind="error"></strong>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>