<div class="container-fluid">
    <div class="row">
        <span ng-include="menuTemplate"></span>
        <div class="col col-md-9 right-menu" data-ng-init="findOne()">
            <div class="row">
                <div class="col col-md-4">
                    <a href="#!/pick-note" class="menu-item">
                        <img src="assets/images/menu-icons/menu-stemvork.gif" alt="menu-item" />
                        <h3>Noot leren</h3>
                    </a>
                </div>
                <div class="col col-md-4">
                    <a href="#!/pick-study" class="menu-item">
                        <img src="assets/images/menu-icons/menu-noot.gif" alt="menu-item" />
                        <h3>Studies</h3>
                    </a>
                </div>
                <div class="col col-md-4">
                    <a href="#!/recordings" class="menu-item">
                        <img src="assets/images/menu-icons/menu-map.gif" alt="menu-item" />
                        <h3>Mijn opnames</h3>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-4">
                    <a class="menu-item">
                        <img src="assets/images/menu-icons/menu-forum.gif" alt="menu-item" />
                        <h3>Forum</h3>
                    </a>
                </div>
                <div class="col col-md-4">
                    <a href="#!/feedback" class="menu-item">
                        <img src="assets/images/menu-icons/menu-puzzle.gif" alt="menu-item" />
                        <h3>Feedback</h3>
                    </a>
                </div>
                <div class="col col-md-4">
                    <a href="#!/test" class="menu-item">
                        <img src="assets/images/menu-icons/menu-vink.gif" alt="menu-item" />
                        <h3>Toets</h3>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-4">
                    <a class="menu-item">
                        <img src="assets/images/menu-icons/menu-metronoom.gif" alt="menu-item" />
                        <h3>Techniek</h3>
                    </a>
                </div>
                <div class="col col-md-4">
                    <a class="menu-item">
                        <img src="assets/images/menu-icons/menu-pupiter.gif" alt="menu-item" />
                        <h3>Muziek</h3>
                    </a>
                </div>
                <div class="col col-md-4">
                    <a class="menu-item">
                        <img src="assets/images/menu-icons/menu-vraag.gif" alt="menu-item" />
                        <h3>Over</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>