<div class="col col-md-3 left-menu" ng-controller="MenuCtrl">
    <div class="menu-heading">
        <a href="#!/" ><img alt="profielfoto" src="assets/images/profile_picture.jpg"></a>
        <h1>{{ user.profile.given_name}} {{ user.profile.family_name}}</h1>
        <a class="button" href="#!/profile/{{user._id}}">Profiel</a>
        {{ test }}
    </div>
    <div class="menu-gamification">
        <h2>{{ user.rank.title }}</h2>
        <h3>Level: {{ user.level.name }} <span class="right">{{ user.profile.points }}/{{ user.level.points }}</span></h3>
        
        
        <div class="level-bar"><div id="percent" style="width:{{ earnedPercent }}%;"></div></div>
        <h3>Badges</h3>
        <div class="left">
            <h3>Noten sopraan</h3>
            <p>{{descentNotes}}</p>
        </div>
        <div class="right">
           <h3>Noten alt</h3>
           <p>{{altNotes}}</p>
        </div>
    </div>
    <div class="menu-footer">
        <p>
            <i class="fa fa-envelope-square"></i>
            <i class="fa fa-facebook-square"></i>
            <i class="fa fa-twitter-square"></i>
            <a href="/logout">Uitloggen</a>
        </p>
    </div>
</div>
