<div class="ngdialog-message" id="study-dialog">
    <h3>Resultaten studie</h3>
    <p>Aantal juiste noten: {{ correctNotes }}/{{ totalNotes }}<br>
    Punten juistheid noten: {{ pointsNotes }}/{{ totalPointsNotes }}</p>
    <p>Je tempo zat {{ percentageDuration }}% goed.<br>
    Punten tempo: {{ pointsTempo }}/{{ totalPointsTempo }}</p>
    <p>In totaal speelde je het stuk {{ earnedPercentage }}% goed en verdiende hier {{ earnedPoints }} punten mee!</p>
    <div>
        <input type="text" data-ng-model="studyDescription" id="studyDescription" placeholder="Indien je de opname opslaat, kan je hier een beschrijving ingeven." autofocus class="form-control">
    </div>
</div>
<div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm()">Opname opslaan</button>
    <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog()">Opname niet opslaan</button>
</div>
