<!DOCTYPE html>
<html>
<head>
    <title>
        <%=title %>
    </title>

    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/app.min.css" rel="stylesheet">
</head>
<body>
    <% for(var i in messages) { %>
    <div class="flash"><%= messages[i] %></div>
    <% } %>

    <div class="container register">
        <div class="col col-md-6 col-md-offset-3">
            <form class="form-signin" action="/register" method="post">
                <h2 class="form-signin-heading text-center">Register</h2>

                <label for="username" class="sr-only">Gebruikersnaam</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>

                <label for="password" class="sr-only">Wachtwoord</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
                
                <label for="given_name" class="sr-only">Voornaam</label>
                <input type="text" id="given_name" name="profile.given_name" class="form-control" placeholder="Voornaam" required autofocus>
                
                <label for="family_name" class="sr-only">Achternaam</label>
                <input type="text" id="family_name" name="profile.family_name" class="form-control" placeholder="Achternaam" required autofocus>

                <label for="email" class="sr-only">E-mail</label>
                <input type="email" id="email" name="profile.email" class="form-control" placeholder="E-mail" required>
                
                <label for="birth" class="sr-only">Geboortedatum</label>
                <input type="date" id="email" name="profile.email" class="form-control" placeholder="E-mail" required>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
            </form>
          </div>      
        </div>
    </div>
</body>
</html>